
	h1 {
		color:#ec8f89;
	}
	h3 {
		background-color: #fbede0;
		//text-align: center;
		//짧은 주석
		/*긴
		주
		석 */
	}
	
	/*id*/
	#top {
		text-align: center;
	}
	
	/*class*/
	.border {
		border: 1px dotted black;
	}
